# Write a program to Convert Decimal to hexadecimal in python

In [17]:
def dec_to_hex(number):
    return hex(number)

In [18]:
dec_to_hex(255)

'0xff'

In [16]:
num = int(input("Enter the number: "))

output = dec_to_hex(num)

print("Hexadecimal form using hex() is {}".format(output[2:]))

Enter the number: 255
Hexadecimal form using hex() is ff

In [19]:
# 8600998107

In [20]:
binary_number = "110100"
octal_number = "72"
hexadecimal_number = "2B"

decimal_from_binary = int(binary_number, 2)
decimal_from_octal = int(octal_number, 8)
decimal_from_hexadecimal = int(hexadecimal_number, 16)

In [21]:
# how to convert list to string in python

In [22]:
my_list = ['Hi', 'How', 'are', 'you']

In [23]:
print(my_list)

['Hi', 'How', 'are', 'you']

In [26]:
my_string = ' '.join(my_list)

In [27]:
my_string

'Hi How are you'

In [28]:
# How to convert string into list

In [41]:
my_string = "Welcome to Technogeeks!!!"

In [42]:
my_list = my_string.split()

In [43]:
my_list

['Welcome', 'to', 'Technogeeks!!!']

In [44]:
len(my_list)

3

In [48]:
room = "amazon"
if room == "amazon":
    print( "go and check in")
elif room == "bhumi":
    print( "room is not book")
elif room=="nalanda":
    print( "Go to Reseption")
elif room=="takshashila":
    print( "conduct your metting")
else:
    print( "book your room in MI QUBE APP")

go and check in