In [1]:
import numpy as np

In [3]:
dummy = [1,3,4,5,6,7]

In [7]:
type(dummy)

list

In [11]:
arr = np.array(["Shivam", "Rohit"])

In [13]:
arr

array(['Shivam', 'Rohit'], dtype='<U6')

In [15]:
type(arr)

numpy.ndarray

In [21]:
arr.shape

(2,)

In [27]:
arr1 = np.array([["Shivam","Darhsana", "Shwetlana"], [1000, 2000,3000]])

In [29]:
arr1.shape

(2, 3)

In [31]:
dummy

[1, 3, 4, 5, 6, 7]

In [33]:
arr

array(['Shivam', 'Rohit'], dtype='<U6')

In [35]:
arr = np.array(["Shivam", "Rohit",1000,200.50,400.6])

In [37]:
dummy[0:3]

[1, 3, 4]

In [39]:
arr[0:3]

array(['Shivam', 'Rohit', '1000'], dtype='<U32')

In [43]:
type(dummy)

list

In [51]:
dummy[0]

1

In [53]:
dummy[0:3] = 7000

TypeError: must assign iterable to extended slice

In [55]:
arr[0:3] = 7000

In [57]:
arr

array(['7000', '7000', '7000', '200.5', '400.6'], dtype='<U32')

numpy: data

pandas: schema with data

In [60]:
students = {'id':[1,2,3,4,5,6], 'name':['Shreyash','Darhsana','Amruta','Shwetlana','rupali','sneha']}

In [62]:
type(students)

dict

In [64]:
import pandas as pd

In [69]:
df = pd.DataFrame(students)

In [71]:
df

   id       name
0   1   Shreyash
1   2   Darhsana
2   3     Amruta
3   4  Shwetlana
4   5     rupali
5   6      sneha

In [73]:
df['id']

0    1
1    2
2    3
3    4
4    5
5    6
Name: id, dtype: int64

In [77]:
df['name'][0]

'Shreyash'

In [79]:
import seaborn as sns
import matplotlib.pyplot as plt

In [81]:
df1 = sns.load_dataset('tips')

In [83]:
df1

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [87]:
df1.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [93]:
df1.tail(10)

     total_bill   tip     sex smoker   day    time  size
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [95]:
df1['total_bill'].unique()

array([16.99, 10.34, 21.01, 23.68, 24.59, 25.29,  8.77, 26.88, 15.04,
       14.78, 10.27, 35.26, 15.42, 18.43, 14.83, 21.58, 10.33, 16.29,
       16.97, 20.65, 17.92, 20.29, 15.77, 39.42, 19.82, 17.81, 13.37,
       12.69, 21.7 , 19.65,  9.55, 18.35, 15.06, 20.69, 17.78, 24.06,
       16.31, 16.93, 18.69, 31.27, 16.04, 17.46, 13.94,  9.68, 30.4 ,
       18.29, 22.23, 32.4 , 28.55, 18.04, 12.54, 10.29, 34.81,  9.94,
       25.56, 19.49, 38.01, 26.41, 11.24, 48.27, 13.81, 11.02, 17.59,
       20.08, 16.45,  3.07, 20.23, 15.01, 12.02, 17.07, 26.86, 25.28,
       14.73, 10.51, 27.2 , 22.76, 17.29, 19.44, 16.66, 10.07, 32.68,
       15.98, 34.83, 13.03, 18.28, 24.71, 21.16, 28.97, 22.49,  5.75,
       16.32, 22.75, 40.17, 27.28, 12.03, 12.46, 11.35, 15.38, 44.3 ,
       22.42, 20.92, 15.36, 20.49, 25.21, 18.24, 14.31, 14.  ,  7.25,
       38.07, 23.95, 25.71, 17.31, 29.93, 10.65, 12.43, 24.08, 11.69,
       13.42, 14.26, 15.95, 12.48, 29.8 ,  8.52, 14.52, 11.38, 22.82,
       19.08, 20.27, 11.17, 12.26, 18.26,  8.51, 14.15, 16.  , 13.16,
       17.47, 34.3 , 41.19, 27.05, 16.43,  8.35, 18.64, 11.87,  9.78,
        7.51, 14.07, 13.13, 17.26, 24.55, 19.77, 29.85, 48.17, 25.  ,
       13.39, 16.49, 21.5 , 12.66, 16.21, 17.51, 24.52, 20.76, 31.71,
       10.59, 10.63, 50.81, 15.81, 31.85, 16.82, 32.9 , 17.89, 14.48,
        9.6 , 34.63, 34.65, 23.33, 45.35, 23.17, 40.55, 20.9 , 30.46,
       18.15, 23.1 , 15.69, 19.81, 28.44, 15.48, 16.58,  7.56, 43.11,
       13.  , 13.51, 18.71, 12.74, 16.4 , 20.53, 16.47, 26.59, 38.73,
       24.27, 12.76, 30.06, 25.89, 48.33, 13.27, 28.17, 12.9 , 28.15,
       11.59,  7.74, 30.14, 12.16,  8.58, 16.27, 10.09, 20.45, 13.28,
       22.12, 24.01, 11.61, 10.77, 15.53, 12.6 , 32.83, 35.83, 29.03,
       27.18, 22.67, 17.82, 18.78])

In [97]:
df1['total_bill'].nunique()

229

In [99]:
df1['sex'].unique()

['Female', 'Male']
Categories (2, object): ['Male', 'Female']

In [101]:
df1['smoker'].unique()

['No', 'Yes']
Categories (2, object): ['Yes', 'No']

In [103]:
df1['day'].unique()

['Sun', 'Sat', 'Thur', 'Fri']
Categories (4, object): ['Thur', 'Fri', 'Sat', 'Sun']

In [105]:
df1['time'].unique()

['Dinner', 'Lunch']
Categories (2, object): ['Lunch', 'Dinner']

In [107]:
df1['size'].unique()

array([2, 3, 4, 1, 6, 5], dtype=int64)

In [109]:
df1['sex'].value_counts()

sex
Male      157
Female     87
Name: count, dtype: int64

In [113]:
df1.groupby(by='sex').sum('total_bill')

C:\Users\shiva\AppData\Local\Temp\ipykernel_9588\66940043.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df1.groupby(by='sex').sum('total_bill')

        total_bill     tip  size
sex
Male       3256.82  485.07   413
Female     1570.95  246.51   214